<!-- Header -->
			<div id="header-wrapper">
				<div id="header">

					<!-- Logo -->
						<h1><a href="index.html">Github page of the IDA Lab (Identification Automation Laboratory) - Università del Salento</a></h1>

					<!-- Intro -->
						<section id="intro" class="container">
							<div class="row">

								<p>
									The <a href="https://idalab.unisalento.it/" title="Website of the IDA Lab">IDA Lab</a> – Identification Automation Laboratory - is a research laboratory of the Department of Engineering for Innovation of the Università del Salento, Lecce, Italy. The Scientific Coordinator (Head) of the IDA Lab is Luigi Patrono, Associate Professor in SSD ING-INF/05 at the Department of Engineering for Innovation of the Università del Salento.
									This website groups all the github projects and repositories developed in collaboration and within the IDA Lab from students, researchers, professors and any experts operating in the IoT domain.
								</p>
							</div>
								<span class="moreInfo">
									For more information about the IDA Lab you can visit the official websites: <a href="IDA Lab">IDA Lab official website</a>.
								</span>
						</section>

				</div>
			</div>
